# python
/.venv/
__pycache__/
*.py[cod]
/build/
/*.egg-info/
/.ruff_cache/

# os
.DS_Store
*:Zone.Identifier
[Tt]humbs.db
[Dd]esktop.ini

# editors
/.vscode/
/.vs/
/.zed/
/.idea/
/.nvim.lua
*.sw[a-p]
*.iml

# temp
/_temp/
/temp/
/tmp/
*~
._*
*.bak
*.tmp

# actions
/artifacts/
/coverage/

# logs
*.log

# secrets
/secrets/
*.env
